@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .between {
    @apply flex justify-between items-center;
  }
  .full-between {
    @apply between w-full gap-4;
  }
}
.hide-widget-controls .widget-control {
  display: none;
}
.scroll-container::-webkit-scrollbar {
  width: 0; /* Hides the scrollbar */
  background: transparent; /* Ensures the background is transparent */
}

.scroll-container {
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

/* Optional: Add custom scroll effects */
.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Custom color for scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent; /* Custom track color */
}

.react-resizable-handle {
  width: 4px;
  height: 4px;
  position: absolute;
  cursor: pointer;
  z-index: 20;
}
.hide-resize .react-resizable-handle,
.react-grid-placeholder .react-resizable-handle {
  display: none;
}

.react-resizable-handle {
  position: absolute;
}

.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  width: 100%;
  cursor: row-resize;
}
.react-resizable-handle-n {
  top: 0;
}
.react-resizable-handle-s {
  bottom: 0;
}
.react-resizable-handle-e,
.react-resizable-handle-w {
  height: 100%;
  cursor: col-resize;
}
.react-resizable-handle-e {
  right: 0;
  top: 0;
}
.react-resizable-handle-w {
  left: 0;
  top: 0;
}
.drag-handle {
  cursor: grab;
}
.drag-handle:focus,
.drag-handle:focus-visible {
  cursor: grabbing;
}

.clock-widget .react-clock__mark__body,
.clock-widget .react-clock__hand__body {
  background-color: var(--mui-palette-text-primary);
}
.clock-widget .react-clock__face {
  border: 2px solid var(--mui-palette-text-primary);
}
.clock-widget .react-clock__second-hand__body {
  border: 1px solid var(--mui-palette-primary-main);
}
