@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .between {
    @apply flex justify-between items-center;
  }
  .full-between {
    @apply between w-full gap-4;
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

.sidebar .react-resizable-handle-e {
  position: absolute;
  background: rgba(161, 123, 123, 0.411);

  top: 0;
  width: 3px;
  height: 100%;
  cursor: col-resize;
  right: 0;
}
.sidebar .react-resizable-handle-e:hover,
.sidebar .react-resizable-handle-e:focus {
  background: rgba(161, 123, 123, 0.9);
  width: 5px;
}
